@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.marquee {
  animation: marquee 10s linear infinite;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.marquee-content {
  display: inline-block;
  padding-right: 100%;
}
